@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1> Ovo je baza svih studenata veleučilišta </h1>
    <p>Svi studenti na jednome mjestu!</p>
    <p><a class="btn btn-primary btn-lg" role="button" href="#">Više Informacija!</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Pretraživanje i pregled!</h2>
        <p>Pretraživanje po nazivu, pretraživanje po spolu ,ažuriranje studenta , brisanje studenta.</p>
        <p>@Html.ActionLink("Pregled", "Popis", "Student" , new { @class = "btn btn-default btn -lg" , role ="button" }) </p>
    </div>

    <div class="col-md-4">
        <h2>Unos novog studenta</h2>
        <p>Unos novog studenta u centralnu bazu podataka svih studenta veleučilišta.</p>
        <p>@Html.ActionLink("Unos", "Azuriraj", "Student", new { @class = "btn btn-default btn -lg", role = "button" }) </p>
    </div>
    
   <div class="col-md-4">
       <h2>O projektu!</h2>
        <p>Više podataka o projektu Studenti,autori projekta i kontakt podatci!</p>
        <p><a class="btn btn-default btn -lg" role="button" href="#">Vidi detalje</a></p>
    
   </div>
   

</div>


